@model ISFDyT124.Models.Materia

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ISFDyT124.Models.Materia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ma_denominacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ma_denominacion)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ma_modalidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ma_modalidad)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ma_cant_modulos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ma_cant_modulos)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarrerasMaterias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarrerasMaterias)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="ma_id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
