@model IEnumerable<ISFDyT124.Models.Materia>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaDenominacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaModalidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaCantModulos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarreraMaterias)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.MaDenominacion)
            </td>
            <td>
                @Html.DisplayFor(model => item.MaModalidad)
            </td>
            <td>
                @Html.DisplayFor(model => item.MaCantModulos)
            </td>
            <td>
                @Html.DisplayFor(model => item.CarreraMaterias)
            </td>
            <td>
                <a asp-action="Edit" asp-route-MaId="@item.MaId">Edit</a> |
                <a asp-action="Details" asp-route-MaId="@item.MaId">Details</a> |
                <a asp-action="Delete" asp-route-MaId="@item.MaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
